<section id="menu-image-trio">
  <div class="main-container">
    <div class="menu-thumbnail">
      <img src="assets/images/pexelscottonbropancakes.jpg" alt="" />
      <div class="caption">
        <p><a href="#brunch-menu">BRUNCH</a></p>
      </div>
    </div>

    <div class="menu-thumbnail">
      <img src="assets/images/freshjuices.jpg" alt="" />
      <div class="caption">
        <p><a href="#drinks-menu">DRINKS</a></p>
      </div>
    </div>

    <div class="menu-thumbnail">
      <img src="assets/images/pexelsanthonyshkrababreads.jpg" alt="" />
      <div class="caption">
        <p><a href="#bakery-menu">BAKERY</a></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="flex-container">
    <div class="menu-list">
      <ul>
        <h3>BRUNCH</h3>
        <li>Avocado Toast - 12</li>
        <li>Pancakes - 16</li>
        <li>Eggs Benedict - 20</li>
        <li>Breakfast Bowl - 18</li>
        <li>Vegan Breakfast Bowl - 18</li>
        <li>Side Bacon - 2</li>
      </ul>
    </div>
    <img
      src="assets/images/fresheggs.jpg"
      class="menu-list menu-dis"
      id="brunch-menu"
    />
  </div>
</section>

<section>
  <div class="flex-container">
    <img
      src="assets/images/pexelsbrigittetohmlavendarcoffee.jpg"
      class="menu-list menu-dis"
      id="drinks-menu"
    />
    <div class="menu-list">
      <ul>
        <h3>DRINKS</h3>

        <li>Latte - 4</li>
        <li>Cappuccino - 4</li>
        <li>Cortado - 4</li>
        <li>French Press - 15</li>
        <li>Orange Juice - 4</li>
        <li>Fresh Fruit Smoothie - 12</li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="flex-container">
    <div class="menu-list">
      <ul>
        <h3>BAKERY</h3>

        <li>Croissant (Daily Selection) - 4</li>
        <li>Muffin (Daily Selection) - 4</li>
        <li>Scone (Cheddar Chive, Earl Grey) - 4</li>
        <li>Cornbread - 4</li>
        <li>Banana Bread - 4</li>
        <li>Coffee or Tea To Go - 3</li>
      </ul>
    </div>
    <img
      src="assets/images/pexelspixabaybluebread.jpg"
      class="menu-list menu-dis"
      id="bakery-menu"
    />
  </div>
</section>
