<nav>
  <img src="assets/phlogo.png" class="brand-logo" routerLink="/home" />

  <div class="nav-cont">
    <a class="nav-item" routerLink="/home" routerLinkActive="activebutton"
      >HOME</a
    >

    <a class="nav-item" routerLink="/menus" routerLinkActive="activebutton"
      >MENUS</a
    >

    <a class="nav-item" routerLink="/contact" routerLinkActive="activebutton"
      >CONTACT</a
    >
  </div>
</nav>
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="flex-container">
  <div><p>HOURS: MONDAY - SUNDAY // 8 AM - 3 PM</p></div>
  <div><p>LOCATION: 123 AVENUE ST // BROOKLYN, NY</p></div>
</footer>
